<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Welcome!</title>
  </head>

  <body class="bg-gray-200">
    <div class="py-8">
      <nav class="flex justify-center space-x-10 pb-10">
        <a href="/" class="font-medium text-gray-500 hover:text-gray-900"
          >Home</a
        >
        <a href="/pricing" class="font-bold text-gray-500 hover:text-gray-900"
          >Pricing</a
        >
        <a href="/blog" class="font-medium text-gray-500 hover:text-gray-900"
          >Blog</a
        >
        <a href="/login" class="font-medium text-gray-500 hover:text-gray-900"
          >Login</a
        >
        <a
          href="/signup"
          class="font-medium text-white hover:bg-blue-600 bg-blue-500 px-3 py-2 -mt-2 rounded-lg"
          >Sign up</a
        >
      </nav>

      
        
    </div>
  </body>
</html>
